# Entorno virtual de Python
.venv/

# Variables privadas
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Tests / herramientas
.pytest_cache/
.ruff_cache/

# Frontend 
node_modules/
dist/

# Sistema
.DS_Store
Thumbs.db